#root {
  max-width: 1280px;
  margin: 0 0;
  padding: 2rem;
  /* text-align: center; */
}

.navigationContainer {
  list-style: none;
  padding-left: 50px;
  width: 20vw;
  align-self: flex-start;
}
.navigationItemContainer {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.navigationItemContainer div p {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
