#root {
  max-width: 1280px;
}

.container {
  display: flex;
  flex-direction: row;
}

.navigationContainer {
  list-style: none;
  padding-left: 50px;
  margin-right: 50px;
  width: 20vw;
  align-self: flex-start;
}
.navigationItemContainer {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}
